--
-- PostgreSQL database dump
--

\restrict LGaHvLwncMU8k3XoJeSDOTq9yfiggKnlOnPmPMJQL896flyMGmKwRKhOE04IBFu

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Server; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Server" (
    id character varying(255) NOT NULL,
    name text NOT NULL,
    players integer DEFAULT 0,
    "maxPlayers" integer DEFAULT 0,
    status character varying(50) DEFAULT 'online'::character varying,
    "updatedAt" timestamp with time zone DEFAULT now()
);


ALTER TABLE public."Server" OWNER TO postgres;

--
-- Name: VerifiedPlayer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."VerifiedPlayer" (
    "steamId" character varying(32) NOT NULL,
    "bmId" character varying(32) NOT NULL,
    personaname text,
    "updatedAt" timestamp with time zone DEFAULT now()
);


ALTER TABLE public."VerifiedPlayer" OWNER TO postgres;

--
-- Data for Name: Server; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: VerifiedPlayer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: Server Server_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Server"
    ADD CONSTRAINT "Server_pkey" PRIMARY KEY (id);


--
-- Name: VerifiedPlayer VerifiedPlayer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."VerifiedPlayer"
    ADD CONSTRAINT "VerifiedPlayer_pkey" PRIMARY KEY ("steamId");


--
-- Name: VerifiedPlayer_bmId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "VerifiedPlayer_bmId_idx" ON public."VerifiedPlayer" USING btree ("bmId");


--
-- PostgreSQL database dump complete
--

\unrestrict LGaHvLwncMU8k3XoJeSDOTq9yfiggKnlOnPmPMJQL896flyMGmKwRKhOE04IBFu

